
		<div id="main">
			<div class="slideshow">
				<%= link_to image_tag("01.jpg"), "#" , class: "slide"%>
				<%= link_to image_tag("02.jpg"), "#" , class: "slide"%>
				<%= link_to image_tag("03.jpg"), "#" , class: "slide"%>
				<%= link_to image_tag("04.jpg"), "#" , class: "slide"%>
				<%= link_to image_tag("05.jpg"), "#" , class: "slide"%>
				<%= link_to image_tag("06.jpg"), "#" , class: "slide"%>
			</div>

			<ul class="info">	
 				<li><%= link_to "#" do %>
				<%= image_tag("info01.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info02.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info03.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info04.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info05.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info06.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info07.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info08.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

 				<li><%= link_to "#" do %>
				<%= image_tag("info09.png", {class: "info_img"})%><span></span>
				<% end %>	</li>

			</ul>
</div> 	

