<div id="main">
<% @page_title = "記事一覧" %>
<h2><%= @page_title %></h2>
<h3><%= link_to "新規作成", new_article_path %></h3>
<% if @current_user %>
	<% if @articles.present? %>
	<% @articles.each do |article| %>
	<h2><%= article.title %></h2>
	<p><%= truncate(article.body, length: 80) %>
	<%= link_to "Read More", article_path(article) %></p>
	<% end %>
	<% else %>
	<p>No Article</p>
	<% end %>
<% end %>
</div>