<div id="main">
<% @page_title = "記事一覧" %>
<h2><%= @page_title %></h2>
<h3><%= link_to "新規作成", new_article_path %></h3>
<% if @current_user %>
<% if @articles.present? %>
	<table class="article_table">
		<tr>
			<th>タイトル</th>
			<th>掲載開始日時</th>
			<th>掲載終了日時</th>
			<th>メンバーオンリー?</th>
		</tr>
		<% @articles.each do |article| %>
		<tr>
			<td><%= link_to article.title, article_path(article) %></td>
			<td><%= article.released_at.strftime("%Y/%m/%d %H:%M")%></td>
			<% unless article.expired_at %>
			<td>掲載終了日は設定されていません</td>
			<% else %>
			<td><%= article.expired_at %></td>
			<% end %>
			<% if article.member_only %>
			<td>●</td>
			<% else %>
			<td></td>
			<% end %>
		</tr>		

		<% end %>
	</table>
	<% else %>
	<p>記事がありません</p>
	<% end %>
	<% else %>
	<p> メンバーじゃねーからみせねーよ！</p>
	<% end %>

</div>